/*Main Forum CSS*/

/* Font Imports */
/* @import url('https://fonts.googleapis.com/css?family=Bungee&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

/* Main color vars */
:root {
  --panel-bg-color: hsl(196, 15%, 11%, 0.7);
  --panel-solid-bg-color: hsl(196, 15%, 11%, 0.9); 
  --title-font: 'Russo One', cursive;
  --bg-gradient: linear-gradient(150deg, rgba(15,0,0,0.5) 0%, rgba(94,0,0,0.5) 74%);
  --border-dark-color: #820010;
  --border-light-color: #d40000;
  --button-light-color: #e2272f;
  --hues-bg-gradient: linear-gradient(150deg, rgba(125,0,30,0.7) 0%, rgba(114,200,255,0.2) 50%,
  rgba(144,225,255,0.2) 68%,
rgba(125,35,55,0.5) 100%);
  --hues-bg-gradient-solid: linear-gradient(150deg, #5e0516 0%, #382a32 50%,
  #3d2e32 68%,
#57141d 100%);
  --blank-gradient: linear-gradient(150deg, rgba(0,0,0,0) 0%,
rgba(0,0,0,0) 100%);
  --dark-hues-gradient:linear-gradient(150deg, var(--panel-bg-color) 0%, rgba(114,200,255,0.2) 50%,
  rgba(144,225,255,0.2) 68%,
var(--panel-bg-color) 100%);
  --dark-hues-gradient-solid:linear-gradient(150deg, var(--panel-solid-bg-color) 0%, rgba(114,200,255,0.9) 50%,
  rgba(144,225,255,0.9) 68%,
var(--panel-solid-bg-color) 100%);
}

/* HTML Base */
html {
  background: var(--bg-gradient);
}
html, body {
  font-style: normal;
  font-weight: normal;
}
/* Remove Social */
.share-panel.container {
  display:none;
}
/* Body Css */
html { 
  background: #000000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center !important;
}
/* Heading Font */
#body-wrapper .wt-categories .panel-body .panel-heading h4, .forum-title, .conversation-users,.header-wrapper .nav > li > a, .display_name, .btn.btn-primary, .user-icons-menu .dropdown-header strong, .topic-title, .wt-topics .panel-heading.nav > li > a, #memberListFrm .panel-heading.nav > li > a, .wt-followed-categories .panel-heading.nav > li > a, .wt-followed-topics .panel-heading.nav > li > a, .wt-member-search .panel-heading.nav > li > a, .wt-search-result .panel-heading.nav > li > a, .wt-post-search .panel-heading.nav > li > a, #category_list > #topics .panel-heading.nav > li > a, .subcategory-list .nav.nav-tabs.nav > li > a, .wt-edit-profile .nav.nav-tabs.nav > li > a, .settings .nav.nav-tabs.nav > li > a, .first-post.preview-post .nav.nav-tabs.nav > li > a, .modal .nav.nav-tabs.nav > li > a, .wt-topics .panel-heading > ul > li > a, #memberListFrm .panel-heading > ul > li > a, .wt-followed-categories .panel-heading > ul > li > a, .wt-followed-topics .panel-heading > ul > li > a, .wt-member-search .panel-heading > ul > li > a, .wt-search-result .panel-heading > ul > li > a, .wt-post-search .panel-heading > ul > li > a, #category_list > #topics .panel-heading > ul > li > a, .subcategory-list .nav.nav-tabs > ul > li > a, .wt-edit-profile .nav.nav-tabs > ul > li > a, .settings .nav.nav-tabs > ul > li > a, .first-post.preview-post .nav.nav-tabs > ul > li > a, .modal .nav.nav-tabs > ul > li > a, .wt-body .search-wrapper > .btn-group .dropdown-toggle #buttonName, .wt-body .secondary-header-wrapper #subscribe_topic, .wt-body .secondary-header-wrapper #forum-title, #presence #buddy_list_tab #buddy_count,h5, #allMembersSorting a,#slide-panel, .header-wrapper header, .footer-content, .wt-profile-page .profile-menu > ul > li span.profile-label, .header-wrapper #logo_wrapper a  {
  font-family: var(--title-font);
  letter-spacing: 0.5px;
}
.profile-name.display_username {
  font-family: Ubuntu;
}

/* Normal WeightFont */
.post-signature, .wt-body .post-date, #body-wrapper #forums .panel-body > ul a, .wt-body{
  font-weight: bold;
}
/* StyleFont */
#body-wrapper .wt-categories .panel-body .panel-heading h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
}
.user-icons-menu .dropdown-header strong  {
  font-size: 15px;
  color:#fff;
}
.wt-body .dropdown-menu li a {
  font-size: 12px;
  text-align:center;
  color:#fff!important;
}
.wt-body .dropdown-menu li a {
  font-size: 11px;
}

/* ScrollBar */
/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: var(--button-light-color);
}

/* Button */
.wt-body .search-wrapper > .btn-group .dropdown-toggle {
    color: #ffffff;
    background-color: var(--button-light-color)!important;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-primary, .btn-group .dropdown-toggle {
  background-color: #e2272f !important;
}
.wt-body .secondary-header-wrapper .topic-tools .btn-primary {
  background-color: var(--button-light-color) !important;
}
.wt-body .search-wrapper > .btn-group .dropdown-toggle:hover, .wt-body .search-wrapper > .btn-group .dropdown-toggle:active, .wt-body .search-wrapper > .btn-group .dropdown-toggle:focus {
background-color: #c70000!important;
}
/* PopUp Card*/
.wt-body .dropdown-menu, .popover {
  border: 1px solid var(--border-light-color);
  background: var(--panel-solid-bg-color);
}
.popover.hovercard .s-card-content > li:not(:last-child){
  border-right: 1px solid var(--border-light-color);
}
.member-detail, .s-card-content, .header-wrapper .nav > li.logged-in > a > i:before, .header-wrapper .wt-pages-links > .search_modal_toggle > a > i:before {
  color:#fff;
}
/* Shadow Box*/
.wt-body .panel-body, #onlineUsersPopover > .popover {
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
border: 1px solid var(--border-light-color);
}
.user-icons-menu li.user-nav-list > a {
  border: 1.5px solid var(--border-light-color);
}
/*White Text */
.header-wrapper .nav > li > a {
  color:#ddd!important;
}

/*.user-icons-menu .dropdown-header strong, .wt-body {
    color: #fff;
}*/
/*.footer-content, .footer-content #onlineUsers, .wt-body .text-muted {
  color: #fff;
}*/

/* WHITE TEXT*/
span.author-info, #onlineusers, a.username.text-muted, span.text-muted.guest-user-country, .footer-content, a#sub_post_reply, .user-icons-menu .dropdown-header strong{
  color: #eee !important;
}
/* Reply font (broken)*/
.mce-content-body {
  font-family: Ubuntu, sans-serif !important;
}
#onlineUsersContent > h5 {
  color: #eee;
}
#onlineUsersContent > h5 {
  color: #eee;
}
/* Black Text */
.user-icons-menu .user-nav-list > p, body.wt-body label.control-label {
  color:#000!important;
}


/* NavBars & Backgrounds */
#slide-panel, .header-wrapper header, .footer-content{
  background: var(--panel-bg-color);

-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}



/* HEADER BAR*/
.header-wrapper header {
border-bottom: 0px solid var(--border-dark-color);
  box-sizing: content-box;
  height: 60px !important;
  padding-top: 7px;
}
.header-wrapper {
  height: 60px !important;
}
.secondary-header-wrapper {
  margin-top: 6px;
}
.wt-body .secondary-header-wrapper .secondary-header{
  background: var(--dark-hues-gradient);
  border: 0;
  
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}
.header-wrapper #logo_wrapper a {
  /*
  margin-left: 54px;
  margin-right: 25px;
  margin-top: -6px !important;
  */
}
.header-wrapper #logo_wrapper img {
  /*
    max-height: 50px;
    vertical-align: baseline;
  */
}
.header-wrapper #logo_wrapper a{
  margin-left: 49px;
  
  text-transform: uppercase;
  color:#eeeb;
  overflow: visible;
}
/*Back Arrow*/
.wt-body .secondary-header-wrapper .back-arrow {
  color: #eee;
}
.category-of-topic .text-muted {
  color: #eee;
}




/* NEWS GENERAL CATEGORIES BOX */
#tabpanel .tab-content,
#forums .panel-body {
  background: var(--hues-bg-gradient);
  /*backdrop-filter: blur(25px);*/
  border: 2px dotted var(--border-dark-color);
  border-radius: 2px 20px 20px 20px;
  /*-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75) !important;
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75) !important;*/

  -webkit-box-shadow: 0px 1px 65px 5px rgba(255,0,0,0.3);
  -moz-box-shadow: 0px 1px 65px 5px rgba(255,0,0,0.3);
  box-shadow: 0px 1px 65px 5px rgba(255,0,0,0.3);
}
.tab-content #forums.tab-pane .panel .panel-body {
  background: rgba(0,0,0,0);
  -webkit-box-shadow: 0px 1px 65px 5px rgba(255,0,0,0);
  -moz-box-shadow: 0px 1px 65px 5px rgba(255,0,0,0);
  box-shadow: 0px 1px 65px 5px rgba(255,0,0,0) !important;
}

.tab-content .panel .panel-body .panel-heading h4 {
  /*margin-top: -150px !important;*/
  color: #e4e4e4 !important;
}

#forums .panel-body > ul > li{
  background: 	hsla(200, 45%, 5%, 0.2) !important;
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  color: #ddd;
  /*background: linear-gradient(150deg, rgba(125,0,50,0.5) 0%, rgba(194,255,255,0.5) 74%) !important;*/
  /*border: 2px !important;*/
  border: 2px dotted var(--border-dark-color);
  z-index: 0;
}
#forums .panel-body > ul > li:hover {
  background: 	hsla(200, 5%, 55%, 0.05) !important;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255,0,50,0.2);
  -moz-box-shadow: 0px 0px 15px 2px rgba(255,0,50,0.2);
  box-shadow: 0px 0px 15px 2px rgba(255,0,50,0);
}
.columns-wrapper .forum-title {
  color: var(--button-light-color);
}




/*Select all box*/
label.checkbox {
  border-radius: 15px !important;
  bottom: 7px !important;
  height: 30px !important;
}
label.checkbox .checkbox-material {
  top: 1px !important;
}







/* LEFT MENU PANEL */
#slide-panel{
  border-right: 0px solid #000;
  box-sizing: content-box;
  border-left: 2px dashed var(--border-dark-color);
  box-sizing: content-box;
  background: linear-gradient(150deg, var(--panel-bg-color) 0%, rgba(94,0,0,0.4) 74%);
}
/* Panel Offset */
#slide-panel {
  margin-top: 67px;
  z-index: 254;
}
#forum_header_fixed {
  margin-left: -58px;
  padding-left: 58px;
  position: fixed;
  z-index: 255;
}


/* Search bar styling */
.wt-body .search-wrapper {
  border: 1px solid var(--panel-bg-color);
  background:rgba(240,240,240,0.8) !important;
}



/* Borders*/
.slide-panel-content > li > a > .glyphicon, .slide-panel-content > .category-dropdown-toggle > i, .slide-panel-content > li > a > .icon {
  border-bottom: 0px solid var(--border-light-color);
}



/* FOOOOOOOOTTTERRRR */
.footer-content{
  border-top: 0px solid var(--border-dark-color);
}
#onlineUsersPopover > .popover > .popover-content {
  overflow: visible;
}
.columns-wrapper .last-post > .image-wrapper {
  z-index: 253;
}

.wt-body .search-wrapper > .btn-group .dropdown-toggle {
  background-color: #dee0e4;
}
/* Red Backghround Circle */
#allMembersSorting a:hover, #body-wrapper .hover-menu > span > span.dropdown > a, #body-wrapper .hover-menu > span > a, #body-wrapper .hover-menu > span > .btn {
  background: var(--border-light-color);
}
/* Panel Select */
.panel-heading label.checkbox.checkbox, .subheading label.checkbox.checkbox {
  line-height: normal;
  border: 0px solid var(--border-light-color);
  background: #fff;
  color: #000;
  padding: 4px 15px;
  height: 35px;
  border-radius: 0px;
}

/*.wt-body .panel-body {
border-radius: 10px 0px 10px 10px;
}*/
.panel-heading .mod .checkbox .checkbox-material .check, .subheading .mod .checkbox .checkbox-material .check {
  border-color: #ff0101;
}

#body-wrapper .post-edit .dropdown-menu a {
  background: #333 !important;
}

#body-wrapper .hover-menu {
background: #333;
  border-top: 1px solid var(--border-light-color);
  border-left: 1px solid var(--border-light-color);
  border-right: 1px solid var(--border-light-color);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}
/* NavIcons DeBlur */
.slide-panel-content > li > a > .glyphicon, .slide-panel-content > li > a > .icon, .slide-panel-content > .category-dropdown-toggle > i, .slide-panel-content #calendars_toggle_link > li > a {
  background: rgba(255, 255, 255, 0);
}
.slide-panel-content :before {
 color: #fff;
}

#body-wrapper .wt-categories .panel-body .panel-heading h4 {
  color:#fff;
}
/* Red border around images*/
.image-wrapper {
  border: 1px solid #ff0000;
}
/* Red glow around poster avatars */
span.pull-left.post-author .image-wrapper.medium {
  -webkit-box-shadow: 0px 0px 21px 0px rgba(255,0,0,1);
  -moz-box-shadow: 0px 0px 21px 0px rgba(255,0,0,1);
  box-shadow: 0px 0px 21px 0px rgba(255,0,0,1);
}
span.pull-left.post-author .image-wrapper.normal {
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.4);
}

/* Message Discussion Title*/
#current_msg_details h3 {
  color: #eee;
  font-family: var(--title-font);
  font-weight: 200;
  font-size: 25px !important;
}

/* Badge Ring Color */
.header-wrapper #private_message_notification ~ sup .badge {
  border-color: var(--border-light-color);
}

/* Remove BoxShadow */
body.wt-body .form-control:focus, body.wt-body .form-control.focus {
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  border: 2px solid red;
}
.wt-body .panel-body, #onlineUsersPopover > .popover {
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
















/*
#body-wrapper {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23ba0000' fill-opacity='0.30' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}
*/

body{
  background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png%27') repeat top center !important;
  animation: move-twink-back 300s linear infinite !important;
}
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
html {
  position: relative !important;
}
body::before {
  content: "";
  background: var(--bg-gradient);
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100%;
  overflow: visible;
}
html {
  overflow-x: hidden;
  min-width: 300px;
}

#logo_or_title {
  z-index: 257;
  margin-left: 0%;
}
/* #logo_or_title::after {
    content: '';
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://cdn.discordapp.com/attachments/596672668325904384/602377809809375245/CollectiveLogoFinal.png') no-repeat;
margin-left: -64px;
margin-top: -54px;
object-fit: cover;
width: 140%;
height: 140%;
background-size: contain;
} */

#logo_or_title::after {
  content:'';
  position: absolute;
  display: block;
  top:-70px;
  left:-100px;
  width: 140px;
  height: 140px;
  background: url('https://cdn.discordapp.com/attachments/596672668325904384/602377809809375245/CollectiveLogoFinal.png');
  background-size: 140px;
  z-index: 256;
  pointer-events: none;
}

html::before {
  content:'';
  position: absolute;
  display: block;
  filter: brightness(0.5);
  top:-244px;
  left:-325px;
  width: 0px;
  height: 600px;
  background: url('https://cdn.discordapp.com/attachments/596672668325904384/602377809809375245/CollectiveLogoFinal.png');
  background-size: 600px;
  z-index: 0;
  pointer-events: none;
}





/*Button width fix*/
#clickedtotoggle.btn-group {
  min-width: 230px !important;
}



/* FORUM POSTS */
.pull-left.post-body-wrapper, #main_posts_container > [id^="post_row_"] .post-body-wrapper, #main_posts_container > [id^="post_row_"] .post-body-wrapper.post-body-wrapper {
  background: var(--hues-bg-gradient) !important;
  border: 2px dotted var(--border-dark-color) !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: rgba(240,240,240,0.9);
}
.post-arrow, #main_posts_container > [id^="post_row_"] .post-arrow, .first-post:not(.preview-post) .post-arrow  {
  /*display: none;*/
  border-right-color: rgba(245,245,245,0.8) !important;
}
.post-arrow::before, #main_posts_container > [id^="post_row_"] .post-arrow:before {
  display: none;
}

.post-signature, .wt-body .post-date, #body-wrapper #forums .panel-body > ul a, .wt-body {
  font-weight: normal;
}












